# git
.git
.github

# system
.DS_Store

# ide
.idea
.vscode

# dependencies
node_modules
yarn-debug.log*
yarn-error.log*

# compiled output
coverage
build
dist
out
out-tsc
tmp
.eslintcache

# misc
runtime
.env.local
.env.*.local
