# system
.DS_Store

# ide
.idea/*
!.idea/codeStyles
!.idea/runConfigurations
!.idea/encodings.xml
!.idea/modules.xml
!.idea/webResources.xml
!.idea/*.iml
!.idea/.gitignore
.vscode/*

# dependencies
node_modules
yarn-debug.log*
yarn-error.log*

# compiled output
coverage
build
dist
out
out-tsc
tmp
.eslintcache

# misc
runtime
.env.local
.env.*.local
